.idea
build
node
design
docker-compose.yml
Dockerfile
build.sh
.env
frontend/build
transfer/build
server/build
frontend/node_modules
transfer/node_modules
server/node_modules
node_modules
deploy-to-nfsn.sh
_artifacts
.gitignore
.github
.git